<div class="full-screen parallax mobile-height md-position-relative wow fadeIn" data-stellar-background-ratio="0.5" style="background-image:url('../images/fondo.png');"">
    <section class="bg-verde padding-90px-top page-title-medium padding-30px-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 text-left">
                    <!-- start page title -->
                    <h1 class="alt-font text-white font-weight-400 mb-0"> 
                    <span class="font-weight-700">Alta</span> de Usuario</h1>
                    <!-- end page title -->
                </div>
            </div>
        </div>
    </section>
    <!-- end page title section -->     
    <!-- start form section -->
    <form class="w3-container" action="signup" method="post" autocomplete="off" role="presentation">
        <section class="datos_empresa p-0">
          <div class="container" style="background-color: rgb(255 255 255 / 94%);padding: 30px;margin-bottom: 30px;margin-top: 30px;border-radius: 30px;">            
                <!-- start contact-form  -->
                <div class="row padding-30px-top">
                    <div class="col-12 col-lg-6 sm-d-none"></div>
                    <div class="row col-12 col-lg-12 padding-10px-top" id="date_company">
                        
                    <div class="row col-12 col-lg-12">         
                        <div class="col-12 col-lg-12 text-violeta">
                            <h5 style="font-size: 30px;"><?=gettext('Datos del')?> <strong><?=gettext('Usuario')?></strong></h5>
                        </div>
                        <hr class="col-12 col-lg-12"/> 
                        <div class="col-12 col-lg-6">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong><?=gettext('Nombre')?></strong><strong id="error_firstname" style="color: red;"></strong></div>
                            <input type="text" name="firstname" id="firstname" placeholder="Escriba Aquí" autocomplete="off" class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong><?=gettext('Apellido')?></strong><strong id="error_lastname" style="color: red;"></strong></div>
                            <input type="text" name="lastname" id="lastname" placeholder="Escriba Aquí" autocomplete="off" class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong><?=gettext('Email')?> </strong><strong id="error_usuario" style="color: red;"></strong></div>
                            <input style="display:none" type="text" name="falsousuario" autocomplete="off" />
                            <input type="text" name="usuario" id="usuario" placeholder="Escriba Aquí" autocomplete="off" class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong><?=gettext('Repetir Email')?>: </strong><strong id="error_email_address1" style="color: red;"></strong></div>
                            <input type="text" name="email_address1" id="email_address1" autocomplete="off" placeholder="Escriba Aquí" class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong><?=gettext('Telefono')?>: </strong><strong id="error_phone_number" style="color: red;"></strong></div>
                            <input style="display:none" type="text" name="falsophone_number" autocomplete="off" />
                            <input type="text" name="phone_number" id="phone_number" autocomplete="off" placeholder="" class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong>Contraseña</strong><strong id="error_pas" style="color: red; font-size: 11px;"></strong></div>
                            <input style="display:none" type="text" name="falsopassword" autocomplete="off" />
                            <input type="password" name="pas" id="pas" autocomplete="off" placeholder="Type here"  class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-3">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left"><strong>Confirme Contraseña</strong><strong id="error_pas_confirm" style="color: red; font-size: 11px;"></strong></div>
                            <input type="password" name="pas_confirm" id="pas_confirm" autocomplete="off"  placeholder="Type here" class="bg-transparent border-color-medium-dark-gray medium-input" required="required">
                        </div>
                        <div class="col-12 col-lg-1" style="padding-top: 40px; padding-left: 0px;">
                            <div class="col-12 text-violeta padding-5px-bottom no-padding-left">
                                <span class="mdi mdi-eye" id="mostrar_pass" style="cursor:pointer; font-size: 20px;"><i class="fa fa-eye"></i></span>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <input type="hidden" name="registrarse" value="registrarse">
                            <button id="send_contact" class="send_contact btn btn-azul btn-rounded btn-large margin-20px-top sm-no-margin-top">Confirmar</button>
                        </div>
                        <br>
                        <br>
                        <div class="col-12 text-center margin-20px-top" style="display: none;">
                            <?=gettext('By clicking the create account button, you are agreeing to our terms and conditions. If you need additional support, please call us at +1 305 xxx-xxxx')?>
                        </div>
                    </div>
                </div>
                <!-- end contact-form -->
            </div>
        </section>
    </form>
</div>

