<section id="home" class="p-0 parallax mobile-height md-position-relative" data-stellar-background-ratio="0.5" style="background-image:url('/images/fondo.png');">
    <form class="w3-container" method="post" action="login/getlogin">
        <div class=" width-30 position-relative full-screen margin-auto">
            <div class="slider-typography">
                <div class="slider-text-middle-main sm-padding-15px-lr">
                    <div class="slider-text-middle alt-font text-white-2">
                        <div class="col-12 col-lg-12 padding-30px-right">
                            <div class="col-12 col-lg-12 bg-white margin-20px-top padding-10px-tb rounded" style="opacity:0.9"> 
                                <div class="row">
                                    <div class="col-12 col-lg-12">     
                                        <div class="col-12 text-azul padding-5px-tb no-padding-left">
                                            <strong style="color: red;">
                                                <?php if(isset($_SESSION['error'])) echo $_SESSION['error'];?>
                                            </strong>
                                        </div>      
                                        <div class="col-12 text-azul padding-5px-tb no-padding-left"><strong><?=gettext('E-mail')?></strong></div>
                                        <input type="text" name="usuario" placeholder="Write your user here" class="w3-input w3-border bg-transparent border-color-medium-dark-gray text-azul medium-input">
                                    </div>
                                    <div class="col-12 col-lg-12">
                                        <div class="col-12 text-azul padding-5px-bottom no-padding-left"><strong><?=gettext('Contraseña')?> </strong></div>
                                        <input type="password" name="pas" placeholder="Write your password here" class="w3-input w3-border bg-transparent border-color-medium-dark-gray text-azul medium-input">
                                        <input type="hidden" name="entrar" value="entrar">
                                    </div>
                                </div>
                            
                                <div class="col-12 col-lg-12">
                                    <div class="row">
                                        <div class="col-12 col-lg-12 margin-30px-tb justify-content-end text-end">
                                            <button class="btn btn-azul btn-medium text-extra-small btn-rounded margin-10px-top margin-10px-bottom btn-large"><?=gettext('Ingresar')?> >></button><br>
                                        </div>
                                        <div class="col-12 col-lg-6 text-verde">
                                            <h7><a href="login/signup" name="registry" value="registry" class="text-azul"><i class="fa fa-user-plus"></i> <?=gettext('Registrar nuevo Usuario')?></a></h7>
                                        </div>
                                    </div>
                                </div> 
                            </div>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>