<!-- start page title section -->
<section class="bg-violeta page-title-medium" style="padding: 0px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 text-left" style="height: 10px;">
                <!-- start page title -->
                
                <!-- end page title -->
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
    
<!-- start form section -->
<section class="no-padding-top">
    
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-12 padding-5px-bottom no-padding-left">
                    <form action="edit" method="POST">
                     <div class="row">
                         <div class="col-12 col-lg-12"><h5><?=gettext('Editar Usuario')?></h5></div>
                         <div class="col-12 col-lg-3">
                             <label for="user"><?=gettext('Mail')?>: </label>
                             <input type="hidden" name="user[id]" name="id" value="<?=$usuario['id']?>">
                             <input type="text" name="user[usuario]" id="usuario" class="form-control" autocomplete="ÑÖcompletes" value="<?=$usuario['usuario']?>">
                         </div>
                         <div class="col-12 col-lg-3">
                             <label for="firstname"><?=gettext('Nombre')?>: </label>
                             <input type="text" name="user[firstname]" id="firstname" class="form-control" value="<?=$usuario['firstname']?>">
                         </div>
                         <div class="col-12 col-lg-3">
                             <label for="lastname"><?=gettext('Apellido')?>: </label>
                             <input type="text" name="user[lastname]" id="lastname" class="form-control" value="<?=$usuario['lastname']?>">
                         </div>
                         
                         <div class="col-12 col-lg-3">
                             <label for="phone_number"><?=gettext('Telefono')?>: </label>
                             <input type="text" name="user[phone_number]" id="phone_number" class="form-control" value="<?=$usuario['phone_number']?>">
                         </div>
                         <div class="col-12 col-lg-12">
                             <hr>
                         </div>
                         
                         <div class="col-12 col-lg-12 padding-20px-tb">
                             <button type="submit" class="btn btn-azul btn-rounded"><?=gettext('Guardar')?></button>
                         </div>
                         
                     </div>
                     </form>
                </div>
            </div>                                                    
        </div>

        <!-- end contact-form -->
    </div>
</section>

