<!-- start page title section -->
<section class="bg-azul page-title-medium" style="padding: 0px;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-10 text-left">
                <!-- start page title -->
                <h4 class=" font-weight-900 text-white">Usuarios</h4>
                <!-- end page title -->
            </div>
            <div class="col-12 col-lg-2">
            <a href="login/signup" name="registry" value="registry" class="btn btn-azul btn-rounded"><i class="fa fa-user-plus"></i> <?=gettext('Nuevo Usuario')?></a></h7>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
    
<!-- start form section -->
<section class="no-padding-top">
    
    <div class="container full-screen">
        <div class="row">
            <div class="col-12">
                <div class="col-12 padding-5px-bottom no-padding-left">
                     <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?=gettext('Id')?></th>
                                <th><?=gettext('User')?></th>
                                <th><?=gettext('Name')?></th>
                                <th><?=gettext('Phone Number')?></th>
                                <th><?=gettext('Confirmado')?></th>
                                <th><?=gettext('status')?></th>
                                <th><?=gettext('Creacion')?></th>
                                <th><?=gettext('action')?></th>
                            </tr>
                        </thead>
                        <tbody>             
                        <?php 
                        //<span class="badge badge-success">Without Use</span>
                        foreach ($usuarios as $usuario){?>
                            <tr>
                                <td><?=$usuario['id']?></td>
                                <td><?=$usuario['usuario']?></td>
                                <td><?=$usuario['firstname'] ." ". $usuario['lastname']?></td>
                                <td><?=$usuario['phone_number']?></td>
                                <td>
                                    <?php
                                        if($usuario['active']==1){
                                            echo '<span class="badge badge-success">'.gettext('Confirmed Mail') .' </span>';
                                        }else{
                                            echo '<span class="badge badge-warning">'.gettext('Email not Confirmed') .' </span>';
                                        }
                                    ?>
                                </td>
                                <td>
                                    <?php
                                        if($usuario['enable']==1){
                                            echo '<span class="badge badge-success">'.gettext('Active') .' </span>';
                                        }else{
                                            echo '<span class="badge badge-danger">'.gettext('Disabled') .' </span>';
                                        }
                                    ?>
                                </td>
                                <td><?=$usuario['created']?></td>
                                <td>
                                        <!-- Single button -->
                                    <div class="btn-group">
                                    <button type="button" class="btn btn-azul btn-very-small btn-rounded dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li class="padding-10px-left"><a href="/user/edit?user=<?=$usuario['id']?>" style="color: black;" class="text-violeta-hover"><i class="fa fa-cog" aria-hidden="true"></i> <?=gettext('Edit')?></a></li>
                                        <?php
                                        if($usuario['enable']=='1'){
                                            echo ' <li class="padding-10px-left"><a href="javascript:disabledUser('. $usuario['id'].')" style="color: black;" class="text-violeta-hover"><i class="fa fa-user-times" aria-hidden="true"></i> '. gettext("Disabled") . '</a></li>';
                                        }else{
                                            echo ' <li class="padding-10px-left"><a href="javascript:activeUser('. $usuario['id'].')" style="color: black;" class="text-violeta-hover"><i class="fa fa-user" aria-hidden="true"></i> '. gettext("Active") . '</a></li>';
                                        }
                                        ?>
                                    </ul>
                                    </div>
                                </td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
                </div>
            </div>                                                    
        </div>

        <!-- end contact-form -->
    </div>
</section>


