<!doctype html>
<html class="no-js" lang="ES">
    <head>
        <title>Usuarios</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
        <meta name="author" content="AndresPerez">
        <!-- description -->
       <meta name="description" content="Admin Usuarios">
        <!-- keywords 
        <meta name="keywords" content="campo, insumos, productos agricolas">
        -->
        <!-- favicon -->
        <link rel="shortcut icon" href="/images/favicon.png">
        <link rel="apple-touch-icon" href="/images/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../images/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="../images/apple-touch-icon-114x114.png">
        <!-- animation -->
        <link rel="stylesheet" href="/css/animate.css" />
        <!-- bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <!-- et line icon  --> 
        <link rel="stylesheet" href="/css/et-line-icons.css" />
        
        <!-- ft-awesome icon --> 
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        
        <!-- themify icon  --> 
        <link rel="stylesheet" href="/css/themify-icons.css">
        
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>   
        <!-- start header -->
         <?php $this->controller->renderHeaderView('header');?>
        <!-- end header -->
    
       
        <!-- ACA VAN LOS ARCHIVOS NAVEGABLES -->
        <?php $this->controller->renderView(); // renders the current view into the template ?>
        <!-- FIN DE ARCHIVOS NAVEGABLES -->

        <!-- start footer -->
         <?php $this->controller->renderFooterView('footer')?>
        <!-- end footer -->
       
        <script type="text/javascript" src="/js/jquery.js"></script>
        <script type="text/javascript" src="/js/modernizr.js"></script>
        <script type="text/javascript" src="/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/js/skrollr.min.js"></script>
        <script type="text/javascript" src="/js/smooth-scroll.js"></script>
        <script type="text/javascript" src="/js/jquery.appear.js"></script>
        <!-- menu navigation -->
        <script type="text/javascript" src="/js/bootsnav.js"></script>
        <script type="text/javascript" src="/js/jquery.nav.js"></script>
        <!-- animation -->
        <script type="text/javascript" src="/js/wow.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
       
        <script src="/js/usuarios.js"></script>

       </body>
</html>