<footer class="footer-strip-dark bg-azul padding-50px-tb sm-padding-30px-tb">
            <div class="container">
                <div class="row align-items-center">
                </div>
            </div>
</footer>
