<header>
    <!-- start navigation -->
    <nav class="navbar navbar-default bootsnav bg-white header-dark white-link navbar-top navbar-expand-lg" style="border-bottom: 2px solid #2e8dbc;">
        <div class="container-fluid nav-header-container">
            <!-- start logo -->
            <div class="col-auto pl-0">
                <a href="/home" title="AppUsuarios" class=" text-azul-hover text-azul">
                 <h4>AppUsuarios</h4>
                </a>
            </div>
            <!-- fin mune -->
            <div class="col accordion-menu pr-0 pr-md-3">
                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
                    <span class="sr-only text-azul">toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse bg-white-opacity collapse justify-content-end" id="navbar-collapse-toggle-1">
                    <ul id="accordion" class="nav navbar-nav no-margin alt-font text-normal text-azul" data-in="fadeIn" data-out="fadeOut">
                        <!-- start menu items -->
                        <?php
                        if(isset($_SESSION['user'])){
                            ?>
                            <li class="dropdown simple-dropdown">
                                <a href="#" class="text-azul">
                                    <i class="fa fa-user"></i><?=$_SESSION['user']['nombre_usuario']?>
                                </a>
                                <i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu bg-white" role="menu">
                                    <li class="dropdown"><a class="dropdown-toggle text-azul"  data-toggle="dropdown" href="../home">Home</a></li>
                                    <li class="dropdown"><a class="dropdown-toggle text-azul"  data-toggle="dropdown" href="../login/logout">Cerrar Sesion</a></li>
                                </ul>
                            </li>
                            <?php
                            }else{
                            ?>
                            <li class="dropdown simple-dropdown">
                                <a href="#" class="text-azul">
                                    <i class="fa fa-user"></i> <?=gettext('Registrarse/Ingresar')?>
                                </a>
                                <i class="fas fa-angle-down dropdown-toggle" data-toggle="dropdown" aria-hidden="true"></i>
                                <ul class="dropdown-menu bg-white" role="menu">
                                    <li class="dropdown"><a class="dropdown-toggle text-azul"  data-toggle="dropdown" href="../login"><i class="fa fa-user"></i> <?=gettext('Ingresar')?></a></li>
                                    <li class="dropdown"><a class="dropdown-toggle text-azul"  data-toggle="dropdown" href="../login/signup"><i class="fa fa-plus-circle"></i> <?=gettext('Registrarse')?></a></li>
                                </ul>
                            </li>
                            <?php    
                            }
                            ?>
                    </ul>
                </div>
            </div>
            
        </div>
    </nav>
    <!-- end navigation --> 
</header>